@import url('https://fonts.googleapis.com/css2?family=Anton&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Burned&family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(0deg, rgba(112,121,128,1) 11%, rgba(159,168,173,1) 41%);;

}

header{
    margin: 0;
    padding: 5px;
    text-align: center;
    background: transparent;
    font-family: "Rubik", sans-serif;
    font-size: 20px;
}

.autos-h1 {
    display: flex;
    justify-content: center;
    margin: 35px;
    padding: 25px;
    font-family: "Oswald", sans-serif;
}

.autos-conatiner{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.autos{
    display: flex;
    width: 46%;
    margin: 19px;
    border-radius: 30px;
    background: #e8ebec;
    box-shadow: 10px 10px 5px lightblue;

}

.autos-img{
    width: 50%;
}

.autos-img:hover{
    transform: scale3d(1.2, 1.2, 1.2);
  }

.auts-conatiner{
    padding: 15px;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
}

footer{
    background:  linear-gradient(181deg, rgba(112, 121, 128, 1) 11%, rgba(159, 168, 173, 1) 41%);
}

.foote-h1{
    display: flex;
    justify-content: center;
}

.icons{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

ul{
    list-style: none;
}

li{
    float: left;
    margin-right: 40px;
}

.col{
    color: black;
}

@media only screen and (max-width: 900px) {
    .autos-conatiner{
        justify-content: center;
    }
}